.header{
    display:block;
    max-width: 720px;
    margin: 6rem auto 5rem ;
    
    &:hover{
      cursor: pointer;
    }
    img{
      display:inline-block;
    }
    
    h1{
      display:inline-block;
      margin-left: 1.125rem;
      color:var(--heading);
      
      span{
        color:var(--pink);
        margin-left: 0.5rem;
  
      }
    }
  
  
  }
  
  